.DS_Store
data/dominica/dma_admn_adm0_py_s1_dominode_v2.cpg
data/dominica/dma_admn_adm0_py_s1_dominode_v2.dbf
data/sightings2005_2018.csv
data/dominica/dma_admn_adm0_py_s1_dominode_v2.prj
*.sbn
data/dominica/dma_admn_adm0_py_s1_dominode_v2.sbx
data/dominica/dma_admn_adm0_py_s1_dominode_v2.shp
data/dominica/dma_admn_adm0_py_s1_dominode_v2.shp.xml
data/dominica/dma_admn_adm0_py_s1_dominode_v2.shx
data/station1249.csv
.ipynb_checkpoints/HW3HannaWeylandDesikSomasundaram-checkpoint.ipynb
grid.cpg
grid.dbf
grid.prj
grid.shp
grid.shx
data/.ipynb_checkpoints/2021-11-04_16-40_Thu-checkpoint.gpx
data/.ipynb_checkpoints/gpxpy-checkpoint.ipynb
data/2021-11-04_16-40_Thu.gpx
data/gpxpy.ipynb
